* {
    background: transparent;
    box-shadow: none;
}

window {
    background-color: rgba(12, 12, 12, 0.35);
}

button {
    margin: 240px 8px;
    border-radius: 16px;
    border-bottom: 2px solid #99ccff;
    color: rgba(12, 12, 12, 0.1);
    background-color: rgba(12, 12, 12, 0.1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10%;
}

button:focus, button:active {
    box-shadow: 8px 6px 5px 3px rgba(204, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.9);
    border-left: 1px solid rgba(204, 255, 255, 0.8);
    border-top: 1px solid rgba(204, 255, 255, 0.8);
    border-radius: 16px;
    text-shadow: 2px 2px 2px #99ffff;
    outline-style: none;
    font-size: 20px;
}

button:hover {
    box-shadow: 8px 6px 5px 3px rgba(204, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.9);
    border-left: 1px solid rgba(204, 255, 255, 0.8);
    border-top: 1px solid rgba(204, 255, 255, 0.8);
    border-radius: 16px;
    text-shadow: 2px 2px 2px #99ffff;
    outline-style: none;
    font-size: 20px;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
    background-size: 50px 50px;
}

#lock:focus {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
    background-size: 100px 100px;
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
    background-size: 50px 50px;
}

#logout:focus {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
    background-size: 100px 100px;
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
    background-size: 50px 50px;
}

#suspend:focus {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
    background-size: 100px 100px;
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
    background-size: 50px 50px;
}

#hibernate:focus {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
    background-size: 100px 100px;
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
    background-size: 50px 50px;
}

#shutdown:focus {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
    background-size: 100px 100px;
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
    background-size: 50px 50px;
}

#reboot:focus {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
    background-size: 100px 100px;
}
