window {
margin: 5px;
border: 2px solid transparent;
border-radius: 16px;
background-clip: padding-box, border-box;
background-origin: padding-box, border-box;
background-image: linear-gradient(to right, #222, #222), linear-gradient(45deg, #99ccff, #99ffff);
}

#input {
margin: 5px;
border: 2px solid transparent;
border-radius: 13px;
background-clip: padding-box, border-box;
background-origin: padding-box, border-box;
background-image: linear-gradient(to right, #232323, #232323), linear-gradient(45deg, #99ccff, #99ffff);
box-shadow: 0px 0px 9px 3px rgba(153,255,204,.8);
}

#inner-box {
margin: 2px;
border-left: 2px solid #ccffcc;
border-right: 2px solid #ccffcc;
border-radius: 13px;
background-color: #222;
}

#outer-box {
margin: 3px;
border-radius: 13px;
background: transparent;
}

#scroll {
margin: 0px;
border: none;
color: #ffcc99;
}

#text {
margin: 5px;
border: none;
} 

@keyframes flowCss {
            0% {
                background-position: 0 0;
            }

            100% {
                background-position: -400% 0;
            }
 }

#entry.activatable #text {
color: #ff0000;
}

#entry > * {
color: transparent;
}

#entry:selected {
border: 2px solid transparent;
border-radius: 16px;
background: transparent;
background-clip: padding-box, border-box;
background-origin: padding-box, border-box;
background-image: linear-gradient(to right, #222, #222), linear-gradient(90deg, #99ffff, #99ccff);
box-shadow: 0px 0px 9px 3px #00c2cb;
}

#entry:selected #text {
color: #00c2cb;
text-shadow: 0px 0px 10px #00c2cb, 0px 0px 20px #00c2cb;
}
